# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-o': 'fsharp-edit:toggle'

# 'atom-text-editor:not(mini).autocomplete-active':
#   'tab': 'unset!'
#   'enter': 'autocomplete-plus:confirm'
#   'up': 'unset!'
#   'down': 'unset!'
#   'ctrl-p': 'autocomplete-plus:select-previous'
#   'ctrl-n': 'autocomplete-plus:select-next'

# 'ctrl-space': 'autocomplete:toggle'

'atom-text-editor:not(mini).autocomplete-active':
  # 'tab': 'unset!'
  # 'enter': 'autocomplete-plus:confirm'
  # 'up': 'unset!'
  # 'down': 'unset!'
  'up': 'autocomplete-plus:select-previous'
  'down': 'autocomplete-plus:select-next'

# 'atom-text-editor':
#   'ctrl-space': 'autocomplete-plus:activate'

'atom-text-editor':
  'ctrl-space': ''
  # '.': 'autocomplete-plus:activate'
  # ':': 'autocomplete-plus:activate'
